@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-rethink: "Rethink Sans", serif;
  --font-orbitron: "Orbitron", serif;
  --myBlue: #307ff9;
}

/* @layer base {
  .container {
    @apply max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 overflow-x-hidden;
  }
} */

@layer base {
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 overflow-x-hidden overflow-y-hidden;
  }
}

body {
  font-family: "Rethink Sans", serif;
}

.my-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
